body{background-color: blueviolet;}
.Sunday{color: crimson;}
.Monday{color: brown;}
.Tuesday{color: burlywood;}
.Wednesday{color: cadetblue;}
.Friday{color: chocolate;}
.Saturday{color: cornflowerblue;}
table{background-color: wheat;
border-color: tomato;}